::-moz-selection {
    /* Code for Firefox */
    background-color: #2482ff;
    color: #fff;
}

::selection {
    background-color: #2482ff;
    color: #fff;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300;
}

body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

select {
    display: block;
}

figure {
    margin: 0;
}

a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

iframe {
    border: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0;
}

.card-panel {
    margin: 0;
    padding: 60px;
}

/***Typography***/

.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
    font-size: 1em;
    line-height: inherit;
}

.gray-bg {
    background: #f9f9ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #222222;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 14px;
    color: #222222;
}

td,
th {
    border-radius: 0px;
}

/*For modern browsers*/

.clear::before,
.clear::after {
    content: " ";
    display: table;
}

.clear::after {
    clear: both;
}

.fz-11 {
    font-size: 11px;
}

.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-30 {
    font-size: 30px;
}

.fz-48 {
    font-size: 48px !important;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400 !important;
}

.fw500 {
    font-weight: 500;
}

.f700 {
    font-weight: 700;
}

.fsi {
    font-style: italic;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-150 {
    margin-top: 150px;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-15 {
    margin-right: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-0-i {
    margin-bottom: 0px !important;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-150 {
    padding-top: 150px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-90 {
    padding-left: 90px;
}

.p-40 {
    padding: 40px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-italic {
    font-style: italic;
}

.text-white {
    color: #fff;
}

.transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.section-full {
    padding: 100px 0;
}

.section-half {
    padding: 75px 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-rigth {
    text-align: right;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
}

.flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.flex-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}

.flex-top {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.flex-bottom {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.space-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
}

.flex-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.display-table {
    display: table;
}

.light {
    color: #fff;
}

.dark {
    color: #000;
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container.fullwidth {
    width: 100%;
}

.container.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.section-bg {
    background: #f9fafc;
}

@media (max-width: 767px) {
    .no-flex-xs {
        display: block !important;
    }
}

.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0;
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px;
}

b,
i,
sup,
sub,
u,
del {
    color: #25b7e4;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em;
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #777777;
}

.button-area {
    background: #fff;
}

.list-style {
    width: 14px;
    height: 14px;
}


.ordered-list {
    margin-left: 30px;
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #fcd2ff;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list li span {
    font-weight: 300;
    color: #777777;
}

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #fcd2ff;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-alpha li span {
    font-weight: 300;
    color: #777777;
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #fcd2ff;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-roman li span {
    font-weight: 300;
    color: #777777;
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input:focus {
    outline: none;
}

/*single-feature*/
.desc {
    padding-left: 20px;
}

/*single-feature*/

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none;
}

.single-textarea:focus {
    outline: none;
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #fcd2ff;
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55;
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359;
}


.default-select {
    height: 40px;
}

.default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px;
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px;
}

.default-select .nice-select .list .option.selected {
    color: #fcd2ff;
    background: transparent;
}

.default-select .nice-select .list .option:hover {
    color: #fcd2ff;
    background: transparent;
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300;
}

.default-select .nice-select::after {
    right: 20px;
}

body {
    position: relative;
}

.default-header {
    background-color: #fff;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.logo a img {
    height: 80px;
}

.menu-bar {
    cursor: pointer;
}

.menu-bar span {
    color: #000;
    font-size: 24px;
}

.main-menubar {
    position: relative;
}

nav {
    margin-right: 70px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform-origin: 100% 50%;
}

@media (max-width: 767px) {
    nav {
        margin-right: 0;
        position: absolute;
        width: 176px;
        right: 0;
        top: 47px;
        text-align: right;
        padding: 20px 0;
        z-index: 5;
        background: #fff;
    }

    nav a {
        color: #000000 !important;
    }

    nav a:hover {
        color: #2482ff !important;
        ;
    }
}

nav.hide {
    transform: scale(0);
}

nav a {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 25px;
    display: inline-block;
}

@media (max-width: 767px) {
    nav a {
        margin: 5px 25px;
    }
}

nav a:hover {
    color: #2482ff;
}

.section-gap {
    padding: 120px 0;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    margin-bottom: 20px;
}

.section-title p {
    font-size: 16px;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .section-title p br {
        display: none;
    }
}

.lnr {
    font-weight: 700;
}

.p2-gradient-bg {
    background-image: -moz-linear-gradient(0deg, #f40f68 0%, #f86e3d 55%, #fbcd11 100%);
    background-image: -webkit-linear-gradient(0deg, #f40f68 0%, #f86e3d 55%, #fbcd11 100%);
    background-image: -ms-linear-gradient(0deg, #f40f68 0%, #f86e3d 55%, #fbcd11 100%);
    opacity: .5;
}

.p1-gradient-color,
.banner-content h1,
.single-fact h2,
.single-footer-widget h3 {
    background: -moz-linear-gradient(0deg, #1a1a1a 0%, #1d14ff 100%);
    background: -webkit-linear-gradient(0deg, #1a1a1a 0%, #1d14ff 100%);
    background: -ms-linear-gradient(0deg, #1a1a1a 0%, #1d14ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-btn {
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.primary-btn:focus {
    outline: none;
}

.primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
}

.primary-btn:hover {
    color: #fff;
}

.primary-btn:hover span {
    color: #fff;
    right: 20px;
}

.primary-btn2 {
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    background: #222222;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.primary-btn2:focus {
    outline: none;
}

.primary-btn2 span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn2:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
}

.primary-btn2:hover {
    color: #fff;
}

.primary-btn2:hover span {
    color: #fff;
    right: 20px;
}

.no-icon {
    padding-right: 30px;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*-------- Start Banner Area ------------*/
.banner-area {
    background: url(../../images/frontend_images/header-img.png) right;
    background-size: cover;
    height: 540px;
}

.banner-area .overlay-bg {
    background-color: rgba(0, 0, 0, 0.35);
}

@media (max-width: 767px) {
    .fullscreen {
        height: 700px !important;
    }

    .staff .img {
        width: 320px;
    }
}

.banner-content {
    text-align: left;
}

.banner-content h1 {
    font-size: 68px;
    font-weight: 900;
    line-height: 1em;
    margin-top: 150px;
}

@media (max-width: 991.98px) {
    .banner-content h1 {
        font-size: 36px;
    }
}

@media (max-width: 991.98px) {
    .banner-content h1 br {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .banner-content h1 {
        font-size: 45px;
    }
}

@media (max-width: 480px) {
    .banner-content h1 {
        font-size: 32px;
    }
}

.banner-content p {
    max-width: 500px;
    text-align: left;
    display: block;
    font-weight: 500;
}

/*-------- End Banner Area ------------*/

/*--------specialization area----------*/
.specialization-area h1 {
    font-size: 40px;
    padding-bottom: 4px;
}

.specialization-area .header-text p {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
}

.staff .img {
    height: 320px;
}

.staff .text h3 {
    font-size: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-bottom: 3px;
}

.staff .text p {
    font-weight: 600;
    line-height: 18px;
}

.staff .text h3:hover {
    color: #024eb4;
}

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 275px;
    position: relative;
    display: block;
}

/*--------specialization area----------*/

/*CLIENTS SERVED*/

.clients-area {
    background-image: url(../../images/frontend_images/sati.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.single-con .single-con .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.single-con .content {
    position: relative;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}


/*--------specialization area----------*/

@media (max-width: 767px) {
    .single-con .content .content-overlay {
        left: 65px;
        width: 67%;
    }
}

@media (max-width: 414px) {
    .single-con .content .content-overlay {
        left: 62px;
        width: 68%;
    }
}

@media (max-width: 413px) {
    .single-con .content .content-overlay {
        left: 12px;
        width: 92%;
    }
}

.single-con .content:hover .content-overlay {
    opacity: .8;
}

.single-con .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.single-con .content-details h4 {
    color: #fff;
}

.single-con .content-title {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.single-con .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.single-con .content-details p {
    color: #fff;
    font-size: 0.8em;
}

.single-con .fadeIn-bottom {
    top: 80%;
}

@media (max-width: 768px) {
    .single-con {
        margin-bottom: 30px;
    }
}

.single-fact {
    text-align: center;
}

.single-fact h2 {
    font-size: 48px;
    font-weight: 600;
}

.single-fact p {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-top: 15px;
}

/*CLIENTS SERVED*/

/*---------feedback-----*/

.feedback {
    padding-top: 54px;
    padding-bottom: 53px;
}

.feedback_container {}

.feedback_content {
    background: #FFFFFF;
    width: 600px;
    padding-top: 74px;
    padding-left: 46px;
    padding-right: 30px;
    padding-bottom: 63px;
    box-shadow: 0px 25px 38px rgba(0, 0, 0, 0.2);
}

.feedback_disc h4 {
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 5px;
}

.feedback_text,
.feedback_disc p {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    padding-bottom: 20px;
}

.feedback_text h5 {
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: 600;
}

.feedback_text {
    margin-top: 20px;
}

.prlx_parent {
    overflow: hidden;
}

.prlx {
    height: 130% !important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*---------feedback-----*/

/*----------footer-------*/
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;

    padding: 50px 60px 40px;
    margin-top: 0px;
    overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left {
    float: left;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0 0 10px;
}

.footer-distributed h3 span {
    color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 31px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-icons a i:hover {
    color: #f4f4f4;
}

/* Footer Right */

.footer-distributed .footer-right {
    float: right;
}

.footer-distributed .footer-right p {
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}

/* The contact form */

.footer-distributed form {
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;

    width: 400px;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #5c666b;
}


.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}

.footer-distributed form button:hover {
    color: #e6e6e6;
    background-color: #716161;
}

.footer-distributed,
.footer-links a:hover {
    color: #5c3ca3;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name {
        font-size: 12px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea {
        width: 250px;
    }

    .footer-distributed form button {
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed {
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }

    .footer-distributed form {
        margin-top: 30px;
    }

    .footer-distributed form {
        display: block;
    }

    .footer-distributed form button {
        float: none;
    }
}



.gly-bg-section .gly-overlay {
    background: #000;
    opacity: .7;
}

.gly-bg-section .author {
    font-size: 20px;
    margin-bottom: 0;
}

#gly-main {
    padding-top: 5em;
}

#gly-board .item {
    margin: 10px 10px 20px 10px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

#gly-board .item a {
    display: block;
}

#gly-board .item .gly-desc {
    padding: 20px;
    float: left;
    line-height: 24px;
}

#gly-board .item .gly-item-title {
    font-family: "Montserrat", arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

#gly-board .item img {
    max-width: 100%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

#gly-board .item .gly-board-img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

#gly-board .item .image-popup:hover img {
    opacity: .5;
}

.js .animate-box {
    opacity: 0;
}
